<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context" xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <mvc:annotation-driven />
    <!-- 
    	开启spring代理，action方法必须是public
     -->
    <aop:aspectj-autoproxy proxy-target-class="true" />
    <context:component-scan base-package="com.zhixin.aop" />
    <context:component-scan base-package="com.zhixin.action" />

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
        <property name="prefix" value="/page/" />
        <property name="suffix" value=".jsp" />
    </bean>
    <!-- 文件上传解析器 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="104857600" />
        <property name="defaultEncoding" value="UTF-8" />
        <property name="maxInMemorySize" value="40960" />
    </bean>

<!--     <mvc:interceptors> -->
<!--         <bean id="loginInterceptor" class="com.ultrapower.workmanager.aop.LoginInterceptor"> -->
<!--             <property name="uncheckUrls" value=".*/login/.*|.*/imageCode\.do.*"/> -->
<!--         </bean> -->
<!--     </mvc:interceptors> -->
</beans>